/* Styling */
body {
background-image: url("https://previews.123rf.com/images/niradj/niradj1508/niradj150800079/44497514-Jungle-background-Krabi-Thailand-Stock-Photo-tropical.jpg");
    position: relative;
    background-attachment: fixed;
    background-size: cover;
}

video {
    max-width: 100%;
    height: 100%;
}

h1 {
    background: white;
    
    font-size: 2em;
    text-align: center;
    color: black;
}

#trailer {
    max-width: 65%;
    margin: auto;
    
}

.char1 {
    font-size: 3em;
    color: orangered;
}

.char10 {
    font-size: 3em;
    color: orangered;
}